<!--ユーザーの詳細-->
<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name <%= @user.name %></h3>
  <h3>introduction <%= @user.introduction %></h3>
  <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
  <% end %>
</div>

<!--部分テンプレートで新規投稿画面をここに追加-->

<!--ユーザーの投稿一覧-->
<% @book.each do |book| %>
<div>
  <%= link_to user_path do %>
    <%= image_tag @user.get_profile_image(50,50) %>
  <% end %>
  <p>Title <%= book.title %></p>
  <p>Opinion <%= book.body %></p>
</div>
<% end %>